aiohttp
async-timeout
attrs
certifi
cffi
chardet
charset-normalizer
discord.py
idna
lavalink
multidict
pkg_resources
pycparser
PyNaCl
requests
six
typing_extensions
urllib3
wavelink
websocket-client
yarl
psycopg2-binary